{{ define "main" }}

<main>
    <video id="bgvideo" preload="auto" loop autoplay muted playsinline poster="{{ "images/beaker-still.jpg" | relURL }}">
        <source src="{{ "video/beaker-loop.mp4" | relURL }}" type="video/mp4">
    </video>
    <div class="column">
        <h1 class="m0"><span id="site-title" class="sr-only">{{ .Site.Author.name }}</span>
            <img src="{{ "images/logo.svg" | relURL }}" class="logo" alt="{{ .Site.Author.name }} logo"/>
            <small>NY &middot; CA</small>
        </h1>
        <h2>Highly potent web + mobile applications.</h2>
        <p><em>A full-service concept-to-consumer digital innovation laboratory.</em></p>
        <div>
            <h3>Production Availability</h3>
            <div id="current-availability">
                <p id="current-quarter"><small id="current-status">Closed</small></p>
                <p id="current-note">We're fully occupied building world-class application experiences for our current clients.</p>
            </div>
            <div id="upcoming-availability">
                <p id="upcoming-quarter"><small id="upcoming-status"></small></p>
                <p id="upcoming-note"></p>
            </div>
        </div>
        
        <div class="links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>
</main>

{{ end }}
