{{ define "main" }}

<main>
    <video id="bgvideo" preload="auto" loop autoplay muted playsinline poster="{{ "images/beaker-still.jpg" | relURL }}">
        <source src="{{ "video/beaker-loop.mp4" | relURL }}" type="video/mp4">
    </video>
    <div class="column">
        <h1><span id="site-title" class="sr-only">{{ .Site.Author.name }}</span>
            <img src="{{ "images/logo.svg" | relURL }}" class="logo" alt="{{ .Site.Author.name }} logo"/>
            <small>NY &middot; CA</small>
        </h1>
        <div class="what-we-do">
            <h2>Powerfully potent web + mobile applications</h2>
            <p><em>A full-service concept-to-consumer digital innovations laboratory</em></p>
        </div>
        <div class="availability">
            <h3>Project Capacity</h3>
            <div id="current-availability">
                <p id="current-quarter" class="availability-status"><small id="current-status" class="closed">Full</small></p>
                <p id="current-note" class="availability-note">We're hard at work building world-class applications for this current client production cycle, but we'd love to work with you in the <span id="next-cycle">next cycle</span>!</p>
            </div>
            <div id="upcoming-availability">
                <p id="upcoming-quarter" class="availability-status"><small id="upcoming-status" class="open">Open</small></p>
                <p id="upcoming-note" class="availability-note">We're accepting Requests for Proposal for the upcoming production cycle, please send us a message!</p>
            </div>
        </div>
        
        <div class="links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}" target="_blank">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>
</main>

{{ end }}
