{{ define "main" }}

<main>
    <video id="bgvideo" preload="auto" loop autoplay muted playsinline poster="{{ "images/beaker-still.jpg" | relURL }}">
        <noscript><source src="{{ "video/beaker-1280x720.mp4" | relURL }}" type="video/mp4"></noscript>
    </video>
    <div class="column">
        <h1><span id="site-title" class="sr-only">{{ .Site.Author.name }}</span>
            <img src="{{ "images/logo.svg" | relURL }}" class="logo" alt="{{ .Site.Author.name }} logo"/>
        </h1>
        <h2>{{ i18n "i-am" }} {{ .Site.Author.name | default "Hallo" }}.</h2>
        <p>{{- partial "introduction.html" . -}}</p>
        
        <div class="links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>
</main>

{{ end }}
