html,
body {
    color: $color-foreground;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

html {
    font-family: $sans-serif;
    font-size: 16px;
    overflow-y: auto;
}

body {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main,
footer {
    margin: 0 2rem;
}

a {
    @include transition(color .2s ease-out);    
    color: $color-foreground;

    &:hover {
        color: $color-hover;
    }
}

h1 {
    // font-size: 8rem;
}

h2 {
    font-family: $varela-round;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-size: 3.075rem; /* general fallback */
    font-size: 6.4vmin;
}

p {
    font-size: 1.575rem; /* general fallback */
    font-size: 3.3vmin;
    font-weight: 300;
}

@media screen and (max-width: $break-large) { // 992px
    h1 {
        // font-size: 15vw;
    }

    h2 {
        font-size: 2.49rem; /* general fallback */
        font-size: 5.2vmin;
    }

    p {
        font-size: 1.44rem; /* general fallback */
        font-size: 3.2vmin;
    }
}

img.portrait {
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid $color-foreground;
    margin: 2em 3em;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}
